@font-face {
    font-family: "Myriad Pro Bold";
    src: url("../fonts/MyriadPro-Bold.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("../images/fg.svg") center center, url("../images/bg.png") bottom center;
    background-size: cover;
    overflow: hidden;
}

.left {
    position: absolute;
    left: 60px;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 160px);
}

.btns {
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
}

.btn {
    width: 60px;
    background: none;
    border: none;
    transition: transform .3s;
}

.btn:hover, .btn:focus {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(.9);
}

.info {
    color: white;
    font-size: 5rem;
    font-family: "Myriad Pro Bold", sans-serif;
    margin-left: 80px;
}

.score::before {
    content: url("../images/star.svg");
    width: 60px;
    position: absolute;
    left: 0;
}

.steps::before {
    content: "🚩";
    width: 60px;
    padding: 10px 5px;
    font-size: 3rem;
    position: absolute;
    left: 0;
}

.msg {
    margin-left: -80px;
    font-size: 3rem;
}

.field {
    width: 900px;
    height: 900px;
    background: url("../images/field.svg");
    position: relative;
    user-select: none;
}

.element {
    width: 60px;
    height: 60px;
    padding: 8px;
    position: absolute;
}